# =========================
# PyCharm / JetBrains
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Python packaging
build/
dist/
*.egg-info/
.eggs/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Testing / coverage
# =========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Windows
# =========================
Thumbs.db
desktop.ini

# =========================
# VSCode (si jamais)
# =========================
.vscode/

# =========================
# Temporary files
# =========================
*.tmp
*.swp
*.swo